.gradle/2.14.1/
.gradle/3.1-rc-1/
.idea/
build/
gradle.properties
projectFilesBackup/
ylc/build
ylc/bin
ylc/gen
ylc/signed
PushSDK/build
PushSDK/bin
PushSDK/gen
materialish_progress_lib/build
materialish_progress_lib/bin
materialish_progress_lib/gen
BDIntegrationSDK_LibProject/build
BDIntegrationSDK_LibProject/bin
BDIntegrationSDK_LibProject/gen
Alert_Dialog_lib/build
Alert_Dialog_lib/bin
Alert_Dialog_lib/gen
Slidingmenu_lib/build
Slidingmenu_lib/bin
Slidingmenu_lib/gen
ylc/proguard-rules.pro
ylc/xiaomanjf_p2p_release_v1.0.0_baidu.apk
